<footer class="bg--green text--white">
    <div class="container--lg pt3 pb3">
        <div class="clearfix">
            <p class="float--left">&copy; Copyright 2020 Bookmark Guides</p>
            <div class="float--right">
                <ul class="no-bullets list--inline">
                    <li class="mr1"><a href="https://www.facebook.com/bookmarkguides" class="link"><img class="social-icons" src="/img/facebook.svg" alt="Bookmark Facebook"></a></li>
                    <li><a href="https://www.instagram.com/bookmarkguides/" class="link"><img class="social-icons" src="/img/instagram.svg" alt="Bookmark Instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>