<footer class="bg--gray-6 text--white">
    <div class="container--lg pt3 pb3">
        <div class="clearfix">
            <p class="float--left">&copy; Copyright 2020 Bookmark Guides</p>
            <div class="float--right">
                <ul class="no-bullets">
                    <li><a href="" class="link"><i class="i i-instagram"></i></a></li>
                    <li><a href="" class="link"></a></li>
                    <li><a href="" class="link"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>