<header>
    <div>
        <nav class="no-bullets flex align-items-center justify-content-center">
            <li class="ml1 mr1"><a href="/about.html" class="link pl1 pr1">About</a></li>
            <li class="ml1 mr1"><a href="/reading-clubs.html" class="link pl1 pr1">Reading Clubs</a></li>
            <li class="ml1 mr1"><a href="/" class="link pl1 pr1"><h1>Bookmark</h1></a></li>
            <li class="ml1 mr1"><a href="/free-resources.html" class="link pl1 pr1">Free Resources</a></li>
            <li class="ml1 mr1"><a href="/contact.html" class="link pl1 pr1">Contact</a></li>
        </nav>
    </div>
</header>