// Text colors
// -------------------------------------------------------------------
// Grayscale
.text--white               { color: $white; }
.text--gray-1              { color: $gray-1; }
.text--gray-2              { color: $gray-2; }
.text--gray-3              { color: $gray-3; }
.text--gray-4              { color: $gray-4; }
.text--gray-5              { color: $gray-5; }
.text--gray-6              { color: $gray-6; }

.text--shade               { color: $shade; }

// Color scheme
.text--primary-color       { color: $primary-color; }
.text--secondary-color     { color: $secondary-color; }
.text--tertiary-color      { color: $tertiary-color; }

// Hues
.text--salmon              { color: $salmon; }
.text--blue                { color: $blue; }
.text--yellow              { color: $yellow; }
.text--red                 { color: $red; }
.text--green               { color: $green; }


// Background colors
// -------------------------------------------------------------------
// Grayscale
.bg--white                 { background-color: $white; }
.bg--gray-1                { background-color: $gray-1; }
.bg--gray-2                { background-color: $gray-2; }
.bg--gray-3                { background-color: $gray-3; }
.bg--gray-4                { background-color: $gray-4; }
.bg--gray-5                { background-color: $gray-5; }
.bg--gray-6                { background-color: $gray-6; }

.bg--shade                 { background-color: $shade; }

.bg--shade-on-mobile {
    @media screen and (max-width: $breakpoint--sm) {
        background-color: $shade;
    }
}

// Color scheme
.bg--primary-color         { background-color: $primary-color; }
.bg--secondary-color       { background-color: $secondary-color; }
.bg--tertiary-color        { background-color: $tertiary-color; }

// Hues
.bg--salmon                { background-color: $salmon; }
.bg--blue                  { background-color: $blue; }
.bg--yellow                { background-color: $yellow; }
.bg--red                   { background-color: $red; }
.bg--green                 { background-color: $green; }

// Other hues
.bg--turquoise             { background-color: $turquoise; }
.bg--orange                { background-color: $orange; }
.bg--pink                  { background-color: $pink; }
.bg--purple                { background-color: $purple; }
.bg--brown                 { background-color: $brown; }
