// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.logo { max-height: 50px; }

.social-icons {
    width: 30px;
    height: 30px;
}
