.hero {
    background: url("/img/hero-image.jpg") center center / cover no-repeat;
}

.newsletter-signup-image {
    background: url("/img/newsletter.png") center center / cover no-repeat;
}

.options-container {
    margin-left: 41px;
    margin-right: 0px;
}